<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jasmine Guevara</title>
    <meta name="description" content=" Jasmine Guevara's website. San Diego based web developer and designer. ">
    <link href = "css/style.css" rel = "stylesheet" type = "text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
</head>
<body>

    <div class = "overlay" id ="overlay-menu">
        <div class='cursor' id="cursor"></div>
        <span class="button_container" id = "close-button-container" >
            <a href="javascript:void(0)" class="closebtn" >X</a>
        </span>
        <nav>
            <ul class = "links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li class = "active"><a href="/contact">Contact</a></li>
                <li><a href="/projects">Projects</a></li>
            </ul> 
        </nav>
    </div>


    <section class ="contact-section">

        <span class="button_container" id = "open-button-container" >
            <a href="javascript:void(0)" class="openbtn">&#9776;</a>
        </span>

        <div class = "contact-main">
            <div class = "contact-flex">
                <div class = "contact-child">
                    <h4 class = "contact-heading">Contact Jasmine</h4>
                </div>
                <div class = "contact-child">
                    <div class ='contact-comment'>
                        <p class='top-line'>Leave a comment or ask a question.</p>
                        <form action='mailto:ejasmineguevara@gmail.com' name='confirmation-form' method='post'>
                            <div class = "email">
                                <input class='input-email' type='email' name='email' placeholder='Email' id='email' required>
                            </div>
                            <div class='name'>
                                <input class='input-name' type='text' name='name' placeholder='Name' id='name' required>
                            </div>
                            <textarea class = 'input-comment' id='confirmation-text' name='confirmation-text' 
                            placeholder='Type here...'></textarea>
                            <div class='button-area'>
                                <input type='submit' value='Submit' class='submit-button'>
                            </div>
                        </form>
                    </div>
                    <div class ='contact-info'>
                        <h3>Email</h3>
                        <a href="mailto:ejasmineguevara@gmail.com">ejasmineguevara@gmail.com</a>
                        <h3>LinkedIn</h3>
                        <a href="https://www.linkedin.com/in/jasmine-guevara-x">https://www.linkedin.com/in/jasmine-guevara-x</a>
                        <h3>GitHub</h3>
                        <a href="https://www.github.com/jazzyxgee">https://www.github.com/jazzyxgee</a>
                    </div>
                </div>
            </div>
        </div>

    </section>



    <%- include('partials/footer.ejs') %>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="../js/main.js"></script>

</body>
</html>