<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jasmine Guevara</title>
    <meta name="description" content=" Jasmine Guevara's website. San Diego based web developer and designer. ">
    <link href = "css/style.css" rel = "stylesheet" type = "text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet"> 
</head>
<body>
    <span class="button_container" id = "open-button-container" >
        <a href="javascript:void(0)" class="openbtn">&#9776;</a>
    </span>

    <div class = "overlay" id ="overlay-menu">
        <div class='cursor' id="cursor"></div>
        <span class="button_container" id = "close-button-container" >
            <a href="javascript:void(0)" class="closebtn" >X</a>
        </span>
        <nav>
            <ul class = "links">
                <li class = "active"><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/projects">Projects</a></li>
            </ul> 
        </nav>
    </div>

    <main>
        <div class = "main-wrapper">
            <div class = "main-text">
                <h1>Jasmine Guevara.</h1>
                <p class = "sub-title">Web Developer&Designer</p>
            </div>
            <div class = "main-photo">
                <img src="../img/jasmine_photo_2000.jpg" alt="Picture of Jasmine Guevara">
            </div>  
        </div>
    </main>

    <section class = "featured">
        <div class = feat-grid>
            <div class = "top-left">
                <div>
                    <h3><a href="https://www.hitokombucha.com/">Hi! to Kombucha</a></h3>
                    <div class="img-container">
                        <img src="../img/htk-preview.jpg" alt="Picture of project">
                        <div class="img-overlay">Hi! to Kombucha</div>
                    </div> 
                </div>
                
            </div>
            <div class = "top-right">
                <div>
                    <h3><a href="https://jazzyxgee.github.io/PuppyWallet/">PuppyWallet</a></h3>
                    <div class="img-container">
                        <img src="../img/pw-preview.jpg" alt="Picture of project">
                        <div class="img-overlay">PuppyWallet</div>
                    </div> 

                </div>
            </div>
            <div class = "bottom-left">
                
            </div>
            <div class = "bottom-right">
                <a id = "plink" href="/projects" >See more projects &rarr;</a>
            </div>
        </div>
    </section>
    
    <%- include('partials/footer.ejs') %>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="../js/main.js"></script>

</body>
</html>