<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jasmine Guevara</title>
    <meta name="description" content=" Jasmine Guevara's website. San Diego based web developer and designer. ">
    <link href = "css/style.css" rel = "stylesheet" type = "text/css" />
</head>
<body>
    <span class="button_container" onclick="openNav()">
        <a href="javascript:void(0)" class="openbtn">&#9776;</a>
    </span>

    <div class = "overlay" id ="overlay-menu">
        <div class='cursor' id="cursor"></div>
        <span class="button_container" onclick="closeNav()">
            <a href="javascript:void(0)" class="closebtn" >X</a>
        </span>
        <nav>
            <ul class = "links">
                <li class = "active"><a  href="/">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="projects.html">Projects</a></li>
            </ul> 
        </nav>
    </div>

    <main>
        <div class = "main-wrapper">
            <div class = "main-text">
                <h1>Jasmine Guevara.</h1>
                <p class = "sub-title">Web Developer&Designer</p>
            </div>
            <div class = "main-photo">
                <img src="../img/jasmine_photo_2000.jpg" alt="Picture of Jasmine Guevara">
            </div>  
        </div>
    </main>

    
    
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="../js/main.js"></script>

</body>
</html>