<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome | Jasmine Guevara</title>
    <link href = "css/style.css" rel = "stylesheet" type = "text/css" />
</head>
<body>

    <nav>
        <ul class = "links">
            <li><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="projects.html">Projects</a></li>
        </ul> 
    </nav>

    <main>
        <div>

        </div>
    </main>

</body>
</html>