<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jasmine Guevara</title>
    <meta name="description" content=" Jasmine Guevara's website. San Diego based web developer and designer. ">
    <link href = "css/style.css" rel = "stylesheet" type = "text/css" />
</head>
<body>
    <span class="button_container" onclick="openNav()">
        <a href="javascript:void(0)" class="openbtn">&#9776;</a>
    </span>

    <div class = "overlay" id ="overlay-menu">
        <div class='cursor' id="cursor"></div>
        <span class="button_container" onclick="closeNav()">
            <a href="javascript:void(0)" class="closebtn" >X</a>
        </span>
        <nav>
            <ul class = "links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li class = "active"><a href="/projects">Projects</a></li>
            </ul> 
        </nav>
    </div>

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="../js/main.js"></script>
</body>
</html>