*{
    box-sizing: 0;
    margin: 0;
    padding:0;
    font-family: sans-serif;
}
html{
    /*overflow: hidden;*/
    height: 100%;
}
body{
    background-color: #e0c8c6;
    /*overflow: auto;*/
    height: 100%;
}
.cursor {
    display: none;
    position: fixed;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%;
    mix-blend-mode: difference;
    background-color: white;
    z-index: 10000;
    border: 2px solid white;
    height: 80px;
    width: 80px;
    transition: all 300ms ease-out;
}

/*navigation bar */
.button_container {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: right;
}
.openbtn{
    color:#000;
    text-decoration: none;
}
.openbtn:hover{
    cursor: pointer;
    opacity: .6;
}
.closebtn{
    color:#fff;
    text-decoration: none;
}
.closebtn:hover {
    cursor: pointer;
    opacity: .6;
}
.overlay {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    overflow: hidden; /* Hide scrollbars */
}
nav{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.links{
    list-style: none;
    font-size: 50px;
    text-align: center;
}
.links a{
    color: #fff;
    text-decoration: none;
}
.links a:hover{
    color:#aaa82e;
    transition: .9s;
    font-size:2em;
}
.active {
    text-decoration: underline 4px;
    color:#6b6a1e;
}

/*top home page section*/
main {
    background-color: #e0c8c6;
    color:#fff;
    min-height: 100vh;
}
.main-wrapper{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.main-text{
    width: 600px;
}
h1{
    color: #d15b5e;
    font-size:140px;
}
.sub-title{
    color:#000000;
    font-size:40px;
}
.main-photo img{
    width: 100%;
}
.featured {
    background-color: #e0c8c6;
    padding-top: 200px;
    color:#fff;
}
h3{
    color:#000;
    padding-top: 10px;
}
.feat-grid{
    min-height: 100vh;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, .1fr);
    gap: 50px;
    
    grid-template-areas:
    "top-left top-right"
    "bottom-left bottom-right"
}
.feat-grid img{
    width: 100%;
}
.top-left{  
    grid-area: top-left;
    display: grid;
    justify-content: center;
    align-content: center;
}
.top-right{
    grid-area: top-right;
    display: grid;
    justify-content: center;
    align-content: center;
}
.bottom-left{
    grid-area: bottom-left;
}
.bottom-right{
    grid-area: bottom-right;
    text-align: right;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}
#plink{
    grid-column: 2/4;
    color:#000;
    text-decoration: none;
    font-size: 35px;
}
#plink:hover{
    color:#ffffff;
    filter: drop-shadow(20px 10px 4px #ff5b60);
}
.img-container {
    position: relative;
 
}
.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height:100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
    display: grid;
    justify-content: center;
    align-content: center;
}
  .img-container:hover .img-overlay {
    opacity: .8;
}