*{
    box-sizing: 0;
    margin: 0;
    padding:0;
    font-family: 'Questrial', sans-serif;
}
html{
    /*overflow: hidden;*/
    height: 100%;
}
body{
    background-color: #e0c8c6;
    /*overflow: auto;*/
    height: 100%;
}
.cursor {
    display: none;
    position: fixed;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%;
    mix-blend-mode: difference;
    background-color: white;
    z-index: 10000;
    border: 2px solid white;
    height: 80px;
    width: 80px;
    transition: all 300ms ease-out;
}

/*navigation bar */
.button_container {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: right;
}
.openbtn{
    color:#000;
    text-decoration: none;
}
.openbtn:hover{
    cursor: pointer;
    opacity: .6;
}
.closebtn{
    color:#fff;
    text-decoration: none;
}
.closebtn:hover {
    cursor: pointer;
    opacity: .6;
}
.overlay {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    overflow: hidden; /* Hide scrollbars */
}
nav{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.links{
    list-style: none;
    font-size: 50px;
    text-align: center;
}
.links a{
    color: #fff;
    text-decoration: none;
}
.links a:hover{
    color:#aaa82e;
    transition: .9s;
    font-size:2em;
}
.active {
    text-decoration: underline 4px;
    color:#6b6a1e;
}

/*top home page section*/
main {
    min-height: 100vh;
    background-color: #e0c8c6;
    color:#fff;
}
.main-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.main-text{
    width: 600px;
}
h1{
    color: #d15b5e;
    font-size:140px;
}
.sub-title{
    color:#000000;
    font-size:40px;
}
.main-photo img{
    width: 100%;
}
.featured {
    background-color: #e0c8c6;
    padding-top: 200px;
    color:#fff;
}
h3{
    color:#000;
    padding-top: 10px;
}
.feat-grid{
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, .1fr);
    gap: 50px;
    
    grid-template-areas:
    "top-left top-right"
    "bottom-left bottom-right"
}
.feat-grid img{
    width: 100%;
}
.feat-grid a{
    color:#000;
    text-decoration: none;
}
.feat-grid a:hover{
    color:#ff5b60;
}
.top-left{  
    grid-area: top-left;
    display: grid;
    justify-content: center;
    align-content: center;
}
.top-right{
    grid-area: top-right;
    display: grid;
    justify-content: center;
    align-content: center;
}
.bottom-left{
    grid-area: bottom-left;
}
.bottom-right{
    grid-area: bottom-right;
    text-align: right;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}
#plink{
    grid-column: 2/4;
    color:#000;
    text-decoration: none;
    font-size: 35px;
}
#plink:hover{
    color:#ffffff;
    filter: drop-shadow(20px 10px 4px #ff5b60);
}
.img-container {
    position: relative;
}
.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height:100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
    display: grid;
    justify-content: center;
    align-content: center;
}
.img-container:hover .img-overlay{
    opacity: .8;
}

/*about sections*/
.about-section {
    background-image:
    linear-gradient(to bottom, rgb(107, 106, 30, .65), rgb(150, 178, 182, .65)),
    url('../img/japan-mtn-fuji.jpg');
    background-size: cover;
    color:#fff;
}
.about-main{
    display: grid;
    justify-content: center;
    align-content: center;
}
.about-grid{
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, .1fr);
    gap: 20px;

    grid-template-areas:
    "info"
    "draw"
}
.about-heading{
    font-size: 60px;
    color:#fff;
    font-weight: normal;
    text-align: center;
}
.about-jasmine{
    grid-area: info;
}
.jasmine-drawing{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-area: draw;
}
.jasmine-info{
    font-size: 30px;
    color:#ffffff;
    padding-top:30px;
    width: 800px;
}
.segment-line{
    color:#000000;
    background-color: #000000;
    width: 100px;
    height: 6px;
    margin: auto;
}

/*projects page*/
.projects-section {
    background: #ffffff;
    color:rgb(0, 0, 0);
    padding-left: 15px;
    padding-right: 15px;
}
.projects{
    display: grid;
    justify-content: center;
    align-content: center;
}
.projects-grid{
    min-height: 100vh;
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, .1fr);

    gap: 30px;
    color: #fff;
}
.projects-grid img{
    width: 100%;
}
.pglinks{
    color:#000;
    text-decoration: none;
}
.pglinks:hover{
    color:#ff5b60;
    text-decoration: none;
}
.overlay-text{
    text-align: center;
}
.overlay-text a{
    color:#fff;
    text-decoration: none;
    font-weight: bold;
}
.overlay-text a:hover{
    color:#ff5b60;
    text-decoration: underline;
}
.project-text{
    font-size: 25px;
    text-align: right;
    padding: 50px 0  50px 0;
}
#ptlink{
    color:#000;
}
#ptlink:hover{
    color:#ff5b60;
    text-decoration: none;
}

/*contact section*/
.contact-section{
    min-height: 100vh;
    background-color: #e0c8c6;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 10 12c1.67 0 3.182-.683 4.27-1.785A5.998 5.998 0 0 0 14 12h2a4 4 0 0 1 4-4V6c-1.67 0-3.182.683-4.27 1.785C15.905 7.22 16 6.622 16 6c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 20 6V4a4 4 0 0 1-4-4h-2c0 .622.095 1.221.27 1.785A5.982 5.982 0 0 0 10 0C8.33 0 6.818.683 5.73 1.785 5.905 1.22 6 .622 6 0H4a4 4 0 0 1-4 4v2c1.67 0 3.182.683 4.27 1.785A5.998 5.998 0 0 1 4 6c0-.622.095-1.221.27-1.785A5.982 5.982 0 0 1 0 6v2a4 4 0 0 1 4 4h2zm-4 0a2 2 0 0 0-2-2v2h2zm16 0a2 2 0 0 1 2-2v2h-2zM0 2a2 2 0 0 0 2-2H0v2zm20 0a2 2 0 0 1-2-2h2v2zm-10 8a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z' fill='%23ffebe9' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.contact-heading{
    font-size: 60px;
    color:#000;
    font-weight: normal;
    text-align: center;
}
.contact-main{
    display: flex;
    justify-content: center;
    align-content: center;
}
.contact-flex{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.input-name{
    background: #FFFFFF;
    border: 3px solid #000000;
    border-radius: 0px;
    width: 100%;
    height: 30px;
    padding-left:10px;
}
.input-email{
    background: #FFFFFF;
    border: 3px solid #000000;
    border-radius: 0px;
    width: 100%;
    height: 30px;
    padding-left:10px;
}
.input-comment{
    background: #FFFFFF;
    border: 3px solid #000000;
    border-radius: 0px;
    width: 98%;
    height: 325px;
    padding:10px 10px 0 10px;
}
.name, .email{
    padding-bottom: 10px;
}
.contact-info{
    padding-top: 30px;
    padding-bottom: 30px;
}
.contact-info h3{
    font-size: 30px;
}
.top-line{
    text-align: center;
    font-size: 25px;
    padding-bottom: 10px;
}
.contact-info a{
    color:rgb(70, 70, 70);
    font-size: 20px;
}
.contact-info a:hover{
    color:rgb(31, 31, 31);
    text-decoration: none;
    
}
.form div{
    padding-bottom: 15px;
}
.submit-button{
    background-color: #4A93FF;
    color:#FFFFFF;
    font-size: 15px;
    border: #4A93FF;
    width: 100px;
    height: 40px;
    border-radius: 20px;
}
.submit-button:hover{
    background-color: #fff;
    color:#000000;
    border: 2px solid #000000;
    box-shadow: 12px 12px 2px 1px rgba(0, 140, 255, 0.2);
}
.button-area{
    padding-top: 15px;
}

/*footer*/
footer{
    background-color: rgb(255, 255, 255);
    padding-top: 30px;
    padding-bottom: 30px;
}
footer p{
    text-align: center; 
    color: #1a1a1a;
    font-size: 20px;
}

@media screen and (max-width :1200px) {
    h1{
        color: #d15b5e;
        font-size: 100px;
    }
    .main-photo{
        width: 500px;
    }
    main {
        min-height: 60vh;
        background-color: #e0c8c6;
        color:#fff;
    }
    .feat-grid{
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        min-height: 80vh;
    }
    .jasmine-info{
        font-size: 30px;
        color:#ffffff;
        padding-top:30px;
        width: 550px;
    }
    .projects-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, .1fr);
        gap: 30px;
        color: #fff;
    }
    .project-text{
        font-size: 25px;
        text-align: center;
        width: 400px;
        padding: 50px 0  50px 0;
    }
    
}
@media screen and (max-width :800px) {
    .feat-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, .1fr);
        gap: 50px;

        grid-template-areas:
        "top-left" 
        "top-right"
        "bottom-right" 
        "bottom-left"
    }
    .feat-grid img{
        width: 100%;
    }
    .feat-grid a{
        color:#000;
        text-decoration: none;
    }
    .feat-grid a:hover{
        color:#ff5b60;
    }
    .top-left{  
        grid-area: top-left;
        display: grid;
        justify-content: center;
        align-content: center;
    }
    .top-right{
        grid-area: top-right;
        display: grid;
        justify-content: center;
        align-content: center;
    }
    .bottom-left{
        grid-area: bottom-left;
    }
    .bottom-right{
        grid-area: bottom-right;
        text-align: right;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .main-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap ;
    }
    .main-text{
        width: 100%;
        text-align: center;
    }
    .main-photo{
        padding-top: 50px;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }
    .about-grid{
        min-height: 80vh;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, .1fr);
        gap: 20px;

        grid-template-areas:
        "info"
        "draw"
    }
    .jasmine-info{
        font-size: 30px;
        color:#ffffff;
        padding-top:30px;
        width: 100%;
    }
    .about-main{
        padding: 15px;
    }
    .contact-main{
        padding-left: 40px;
        padding-right: 50px;
    }

}
@media screen and (max-width :470px) {
    h1{
        color: #d15b5e;
        font-size:60px;
    }
    .sub-title{
        color:#000000;
        font-size:25px;
    }
    #plink{
        font-size: 22px;
    }

}


